body{
  padding: 0;
  margin: 0;
}

#header {
  background-color: #1d0bad;
  padding: 3px 10px;
  margin: 0;
  min-height: 40px;
  max-height: 82px;
  min-width: 100%;
  filter: drop-shadow(0px 5px 2px #4e4e4e);
  position: fixed;
}

#header a {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 3px 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  text-align: left;
  text-shadow: 3px 3px 3px #0b098e;
  font-family: sans-serif;
  transition: 500ms;
}

#header a:hover {
  color: #ddd;
  text-decoration: none;
  margin: 0;
  padding: 3px 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  text-align: left;
  text-shadow: 5px 5px 3px #12076e;
  font-family: sans-serif;
}

#main {
  padding: 45px 35px;
  margin: 0;
  background-color: #f4f4f4;
  max-width: 100%;
  min-height: 10vh;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  #main {
    background-color: #333;
  }
  #main p{
    color:#dfdfdf;
  }
}

#main * {
  font-family: sans-serif;
}

#footer{
  max-width: 100%;
  background-color: #1d0bad;
  font-family: sans-serif;
  padding: 0px 50px;
  height:230px;
}

/*
#footer{
  width: 100%;
  position: fixed;
  background-color: #1d0bad;
  top: 95%;
  transition: 500ms;
  bottom: 0;
  font-family: sans-serif;
  padding-left: 50px;
  padding-top: -2px;
  padding-right: 50px;
}

#footer:hover{
  width: 100%;
  position: fixed;
  background-color: #1d0bad;
  top: 80%;
  transition: 500ms;
  bottom: 0;
  font-family: sans-serif;
  padding-left: 50px;
  padding-top: -2px;
  padding-right: 50px;
}
*/

#footer a{
  text-decoration: none;
  color: #fff;
}

.footer-list {
  float: left;
  margin: 0px 10px;
  padding: 0px;
}

.footer-list ul{
  margin: 0px;
  padding: 0px;
  float: left;
}

.footer-list li{
  list-style: none;
  margin: 0px 2px;
  padding: 0px 7px;
}

.footer-list li p{
  font-size: 0.9rem
}

.footer-list p{
  margin-bottom: 0px;
}

.footer-list li .komoku {
  font-weight: bold;
}

/*
@media screen and (max-width: 559px) {
  mobile
}
@media screen and (min-width: 560px) and (max-width: 959px) {
  tablet
}
@media screen and (min-width: 960px) {
  desktop
}
*/
